<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piggsoft.mapper.ActionMapper">
  <resultMap id="BaseResultMap" type="com.piggsoft.model.Action">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="baby_id" jdbcType="INTEGER" property="babyId" />
    <result column="action_type" jdbcType="CHAR" property="actionType" />
    <result column="action_tm" jdbcType="TIMESTAMP" property="actionTm" />
  </resultMap>
</mapper>