<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.piggsoft.mapper.RelationShipMapper">
  <resultMap id="BaseResultMap" type="com.piggsoft.model.RelationShip">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="baby_id" jdbcType="INTEGER" property="babyId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="relationship_name" jdbcType="VARCHAR" property="relationshipName" />
  </resultMap>
</mapper>